* {
  box-sizing: border-box;
  /* outline: 1px solid white; */
}

body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: rgb(10, 10, 10);
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.main {
  background-color: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.main > section {
  padding: 2rem 15rem;
}

@media only screen and (max-width: 1024px) {
  .main > section {
    padding: 2.5rem;
  }
  
}

.title {
  font-size: 4em;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-block-end: 0;
  margin-block-start: 0;
  font-weight: 400;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.intro {
  font-size: 1.5rem;
  color: #d7dcdf;
}

.subTitle {
  margin-block-start: 0.5em;
  color: #babec1;
  font-weight: 400;
}

.headline {
  font-weight: 500;
  color: white;
  margin-block-end: 0.75rem;
}

.container > ul {
  padding: 0;
  margin: 0;
}

.container > ul > li {
  list-style-type: none;
  margin: 0.75em;
  text-align: center;
}

a {
  text-decoration: none;
}

.contactLink {
  color: rgba(42, 131, 235, 1);
  font-size: 1.25rem;
}

.contactNoLink {
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
}

.contactLink:hover {
  color: rgba(22, 102, 196, 1);
  background-color: rgb(28, 28, 30);
}

.workLink {
  color: rgba(42, 131, 235, 1);
}

.workLink:hover {
  color: rgba(22, 102, 196, 1);
  background-color: rgb(28, 28, 30);
}

.footer {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.footerText {
  color: rgb(119, 110, 110);
  font-size: 1rem;
}

.contactRow {
  display: flex;
}

.workWrapper {
  padding: 2rem 4rem;
  background: rgb(10, 10, 10);
}

.workCardList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  gap: 2rem;
  justify-content: center;
}

.workCard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #313233;
  border-radius: 0.5rem;
}

.workTitle {
  color: white;
  padding: 8px 16px;
  margin: 0;
  margin-block-start: 0;
  font-weight: 500;
}

.workCard div img {
  height: 35vh;
  width: 100%;
  object-fit: cover;
}

.workbtn {
  text-align: center;
  color: white;
  border: 1px solid #ffffff;
  padding: 0.75rem 1.5rem;
  font-family: inherit;
  font-weight: 300;
  font-size: 1rem;
  margin: 1rem;
  background: transparent;
  border-radius: 0.25rem;
}

.workbtn:hover {
  background: rgb(17, 90, 172);
}

@media only screen and (max-width: 900px) {
  .headline {
    margin-block-end: 0.25rem;
  }

  .workWrapper {
    padding: 2rem;
    background: rgb(10, 10, 10);
  }

  .workCardList {
    grid-template-columns: repeat(auto-fit, minmax(80vw, 1fr));
    padding: 1rem 0 2.5rem 0;
  }

  .workCard div img {
    height: 20vh;
    width: 100%;
    object-fit: cover;
  }

  .header {
    height: 20vh;
  }

  .main > section {
    height: max-content;
    font-size: 1.2rem;
    padding: 2rem;
    letter-spacing: 0.05rem;
  }

  .title {
    font-size: 2rem;
    text-align: center;
  }

  .subTitle {
    font-size: 1rem;
  }

  .contactRow {
    display: block;
  }

  .footer {
    padding: 1rem 0 2rem 0;
    height: max-content;
  }

  .contactRow li:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .carous {
    font-size: 8px;
  }

  .workList li:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
